#smooth-carousel.carousel-container {
  width: 100%;
  position: relative;
  overflow: hidden;
}

#smooth-carousel.carousel-container .slides-track {
  display: flex;
  will-change: transform;
  transform: translateZ(0);
  -webkit-transform: translateZ(0);
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
}

#smooth-carousel.carousel-container .slides-controller {
  position: relative;
  height: 100px;
}

#smooth-carousel.carousel-container .slides-controller .navigarion-button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background: rgba(255, 255, 255, 0.8);
  padding: 12px;
  border-radius: 50%;
  border: 1.5px solid rgba(0, 0, 0, 0.2);
  cursor: pointer;
  transition: all 0.2s ease;
  display: flex;
  align-items: center;
  justify-content: center;

}

#smooth-carousel.carousel-container .slides-controller .navigarion-button:focus {
    outline: none;
}

#smooth-carousel.carousel-container .slides-controller .navigarion-button:hover {
    background: rgba(255, 255, 255, 1);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

#smooth-carousel.carousel-container .slides-controller .navigarion-button.prev {
    left: 50px;
    /* right: 70px; */
}

#smooth-carousel.carousel-container .slides-controller .navigarion-button.next {
    right: 50px;
}

#smooth-carousel.carousel-container .slides-controller .dots-container {
  position: absolute;
  bottom: 16px;
  top: 50%;
  transform: translateY(-50%);
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  gap: 8px;
  z-index: 1;
}

#smooth-carousel.carousel-container .slides-controller .dots-container .dot-button {
  width: 12px;
  height: 12px;
  border-radius: 50%;
  border: none;
  background-color: #d1d5db;
  transition: all 0.2s ease;
  cursor: pointer;
  padding: 0;
  outline: none;
}

#smooth-carousel.carousel-container .slides-controller .dots-container .dot-button.active {
  background-color: #3b82f6;
  transform: scale(1.2);
}
